*{padding: 0;margin: 0;}
a{text-decoration: none;color: black;}
li{list-style: none;}
img:hover{
    animation:fade 1s ease-in infinite
}
@keyframes fade{
	0%,100%{
		opacity:1;
	}
	50%{
		opacity:0.6;
	}
}
/* 头部 */
.header a:hover{
    color: red;
}
#li a{
    color: red;
}
.header{
    width: 100%;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    height: 80px;
}
.header-center{
    width: 70%;
    margin: auto;
    text-align: left;
}
.header-center .logo-img img{
    width: 132px;
    margin: 15px 0;
    float: left;
}
.header-center .header-text{
    padding: 30px 0 0 40px;
    float: left;
}
.header-center .header-text li{
    float: left;
    padding: 0 25px;
}
.header-center .right-text{
    color: red;
    border: 1px solid red;
    padding: 5px;
    border-radius: 4px;
    font-size: 16px;
    float: right;
    margin-top: 25px;
}
.header-center .right-img{
    width: 40px;
    height: 40px;
    float: right;
    margin-top: 30px;
    margin-left: 15px;
    overflow: hidden;
}
 .play{
    width: 1000px;
    height: 170px;
    margin:  auto;
   text-align: center;
   background-color: #ffffff;
}
.play h1{
   font-size: 40px;
   color: #333;
   font-weight: 400;
   margin-top: 50px;
}
.play-nav{
   width: 1000px;
   text-align: center;
  margin-top: 50px;

}
.play-nav a{
   display: inline-block;
   padding-bottom: 12px;
   width: 165px;
   color: rgb(121, 116, 116);
   font-size: 18px;
   text-decoration: none;
 
}
.play-nav a:nth-of-type(3){
    border-bottom: 4px solid red;
}
.min{
    width: 100%;
    background-color:#f7f7f7 ;
}
.wrap{
    width: 1000px;
      margin: 0 auto;
}
.live{
   
    width: 1000px;
    height: 520px;
    background-color: #fff;
}
.live ul{
    width: 1000px;
    height:310px;
    border-bottom: 1px dashed #ccc;
}

.live li{
    float: left;
    width: 150px;
    list-style: none;
    text-align: center;
    color: #ccc;
}
.live>span{
     display: block;
     width: 1000px;
    height: 50px;
}
.live span p{
    display:inline-block ;
    width: 100px;
    height: 25px;
   
}
.live li p{
    margin-top: 10px;
    margin-bottom: 10px;
}


.live-up{
    text-decoration: none;
    
}
.live-up1 a,
.live-up a{
    display: inline-block;
    width: 160px;
    text-align: center;
    text-decoration: none;
    color: #ccc;
    margin-top: 10px;
}
.wrap-1{
    width: 1000px;
    height: 300px;
    margin-top:40px; 
    background-color: #fff;
}
.wrap-1 ul{
    width: 1000px;
    height: 165px;
    border-bottom: 1px dashed #ccc;
    margin-top: 50px;
}
.live1{
    background-color: #fff;
}
.wrap-1 ul li{
    float: left;
    width: 150px;
    list-style: none;
    text-align: center;
    color: #ccc;
}
.dibu{
    margin-bottom: 40px;
}
.footer{
    width: 100%;
   height: 360px;

    background: #505050;
    color: #a3a3a3;
}
.footer-f{
  
    width: 1000px;
    height: 210px;
    margin: auto;
}
.footer-f dl{
    margin-top: 40px;
    float: left;
    font-size: 13px;
    padding-left: 22px;
    line-height: 20px;
}
.footer-f dl dt{
    color: #fff;
    padding-bottom: 20px;
    font-size: 16px;
}
.foot dl dt {
  
  
    padding-bottom: 25px;
}
.foot dl:nth-child(1) {
    padding-left: 0;
}
.foot dl:nth-child(2) {
    width: 140px;
}
.foot dl:nth-child(3) {
    width: 100px;
}
.foot dl:nth-child(4) {
    width: 140px;
}
.foot dl:nth-child(5) {
    width: 148px;
}
.foot dl:nth-child(6) {
    width: 180px;
}
.foot dl:nth-child(4) dd a {
    display: inline-block;
    width: 69px;
    
}
.footer-f a{
    float: left;
    color: #a3a3a3;
    text-decoration: none;
    margin-right: 10px;
}
.fix{
    width: 1000px;
    
    text-align: center;
    margin: 0 auto;
}
.fix p{
    display: block;
    text-align: center;
    padding-top: 90px;
    font-size: 13px;
}

